$o-community-color: #424242;
$o-brand-odoo:      #424242;
$o-brand-primary:   #424242;
$o-navbar-height:   55px;
$brand-info-dark:   #8b607d;

$primary:       #424242 !default;
$secondary:     #448AFF !default;
$success:       #469408 !default;
$info:          #666666 !default;
$warning:       orange !default;
$danger:        #d91f1f !default;

